/* Reset básico e estilo geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif; /* Removido font-family duplicado */
}

/* Estilo básico do corpo */
body {
  background-color: black;
  color: white;
  height: 100%;
  overflow: hidden;
}

/* Estilo de título */
h1 {
  text-align: center;
  color: #2c3e50;
  margin-bottom: 20px;
}

/* Estilo de formulário */
form {
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo dos rótulos dos campos */
label {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
  color: #555;
}

/* Estilo dos campos de seleção e de input */
select, input[type="text"], input[type="file"] {
  display: block;
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Estilo dos botões */
button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #3498db;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

button:hover {
  background-color: #2980b9;
}

/* Estilo dos links de navegação */
a {
  display: inline-block;
  margin-top: 20px;
  color: #3498db;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Estilo da lista de arquivos e pastas */
ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

ul li a {
  color: #3498db;
  text-decoration: none;
}

ul li a:hover {
  text-decoration: underline;
}

/* Estilos específicos para o dashboard */
#dashboard {
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  height: 100%;
  min-height: 100vh;
}

.app {
  background-color: black;
  border-radius: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85px;
  width: 85px;
  margin: 0.5rem 1.75rem;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.app:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.app h2 {
  margin: 0;
}

.app > img {
  width: 4rem;
}

#task-bar {
  display: flex;
  justify-content: center;
  width: 80vw;
  margin-top: 82vh;
}

#iframe {
  position: absolute;
  top: 9.5vh;
  left: 10vw;
  width: 80vw;
  height: 72.5vh;
  border-radius: 15px;
  transform: translateY(50%) scale(0.2);
  transition: transform 0.9s ease-in-out;
}

#usage {
  display: flex;
  justify-content: space-around;
}

#usage > img {
  width: 1.15rem;
  height: max-content;
  margin: 0 0.25rem 0 1rem;
}

#top {
  background-color: black;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-self: center;
  width: 100vw;
  padding: 0.7vh 1rem;
  border-radius: 0.75rem;
}

#top > div {
  width: 242px;
}

/* Settings */
#menu {
  width: 35%;
  background-color: black;
  height: max;
  margin: 1%;
  padding: 1%;
  margin-right: 0.1%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

#menu>div>p {
  cursor: pointer;
  margin-top: 0.25rem;
  margin-right: 2rem;
  margin-left: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  color: black;
  background-color: white;
  transition: transform 1s ease;
}

#menu>div>p:hover {
  transform: translateX(-25px);
}

#window {
  border-radius: 17.5px;
  background-color: black;
  width: 65%;
  height: max;
  margin: 1%;
  padding: 1%;
  margin-left: 0.1%;
}

#title {
  padding-left: 2.5%;
  color: white;
}

#d {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

/* user management */

#user-management {
  margin: 20px;
  font-family: Arial, sans-serif;
}

#user-management h1, h2 {
  color: #333;
}

#user-management form {
  margin-bottom: 20px;
}

#user-management label {
  margin-right: 10px;
  font-weight: bold;
}

#user-management input[type="text"], 
#user-management input[type="password"] {
  padding: 5px;
  margin-right: 10px;
}

#user-management button {
  padding: 5px 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}

#user-management button:hover {
  background-color: #0056b3;
}

#user-management ul {
  list-style-type: none;
  padding: 0;
}

#user-management li {
  margin-bottom: 10px;
}

#user-management li form {
  display: inline-block;
  margin-left: 10px;
}
