<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
    <title>Instalar Docker</title>
</head>
<body>
    <h1>Instalar Docker</h1>
    <form method="POST">
        <p>Machine password: </p>
        <input type="text" id="password" name="password" autofocus autocomplete="off">
        <br>
        <button type="submit">Instalar Docker</button>
    </form>
    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <ul style="text-align: center;" class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>
