<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
    <title>Upload File</title>
</head>
<body>
    <h1>Upload File</h1>

    <!-- Formulário para criar uma nova pasta -->
    <form action="{{ url_for('upload_file') }}" method="post">
        <label for="new_folder">Create New Folder:</label>
        <input type="text" id="new_folder" name="folder_name">
        <button type="submit" name="action" value="create_folder">Create Folder</button>
    </form>

    <!-- Formulário para upload de arquivos -->
    <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
        <label for="folder">Select Folder:</label>
        <select name="folder" id="folder">
            <option value="">Select a Folder</option>
            <!-- Populate with existing folders -->
            {% for folder in folders %}
                <option value="{{ folder }}" {% if folder == current_folder %}selected{% endif %}>{{ folder }}</option>
            {% endfor %}
        </select>
        
        <label for="file">Select File:</label>
        <input type="file" name="file" id="file">
        <button type="submit">Upload</button>
    </form>

    <a href="{{ url_for('list_files', folder=current_folder) }}">Back to Files</a>
</body>
</html>
